body {
  /* display: table; */
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  line-height: 1.6;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    25% {
        background-position: top;
    }
    50% {
        background-position: right;
    }
    100%{
        background-position: bottom;
    }
}

.container{
   background: rgba(182, 182, 182, 0.2);
   backdrop-filter: blur(10px);
   border-radius: calc(1.5vh + 1.5vw) calc(1.5vh + 1.5vw) 0 0;
   height: 100%;
   border-top: calc(0.25vh + 0.25vw) solid gray;
   border-left: calc(0.25vh + 0.25vw) solid gray;
   border-right: calc(0.25vh + 0.25vw) solid gray;
   display: flex;
   width: 80%;
   margin-top: calc(5vh + 5vw);
}

.logo-container {
  width: calc(2vh + 2vw);
  height: calc(2vh + 2vw);
  border: calc(0.1vh + 0.1vw) solid rgb(230, 220, 220);
  margin: calc(1vh + 1vw) calc(1vh + 1vw);
  float: left;
  transform: rotate(-45deg);
  box-shadow: 6px 6px 2px #000000,
              6px 6px 2px #0b0b0b,
              6px 6px 2px #00000055;
}

.logo-container div{
  background: linear-gradient(to right, red, rgb(255, 115, 0));
  font-size: calc(1.2vh + 1.2vw);
  font-weight: bold;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-bar-container{
    display: inline-flex;
    padding: calc(1.5vh + 1.5vw);
    justify-self: center;
    margin-left: calc(14.5vh + 14.5vw);
    position: absolute;
    font-size: calc(0.8vh + 0.8vw);
}

.nav-bar-container div{
    margin-inline-end: calc(1vh + 1vw);
    color: rgb(230, 220, 220);
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 6px 6px 2px #000000,
                 6px 6px 2px #0b0b0b,
                 6px 6px 2px #00000055;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(230, 220, 220);
}

.info-container {
    display: inline-flex;
    width: 100%;
    height: 80%;
}

.profile-pic {
    border-radius: calc(1.5vh + 1.5vw) calc(1.5vh + 1.5vw) calc(1.5vh + 1.5vw) calc(1.5vh + 1.5vw);
    border-top: calc(0.25vh + 0.25vw) solid rgb(230, 220, 220);
    border-left: calc(0.25vh + 0.25vw) solid rgb(230, 220, 220);
    border-right: calc(0.25vh + 0.25vw) solid rgb(230, 220, 220);
    border-bottom: calc(0.25vh + 0.25vw) solid rgb(230, 220, 220);
    width: calc(15vh + 15vw);
    height: calc(20vh + 20vw);
    background: black;
    overflow: hidden;
    justify-self:center;
    align-self:center;
    margin-top: calc(6vh + 6vw);
}

.profile-pic img {
    width: 100%;
    height: 100%;
}

.information {
  overflow: auto;
  width: calc(25vh + 25vw);
  margin-top: calc(5vh + 5vw);
    scroll-behavior: smooth;
    margin-inline-start:calc(6vh + 6vw);
}

.information div:nth-child(odd){
    background: linear-gradient(to right, rgb(230, 220, 220), rgb(135, 135, 135), rgb(255, 111, 0), rgb(191, 191, 191), rgb(230, 220, 220));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(1.2vh + 1.2vw);
    font-family: sans-serif;
    text-align:left;
    font-weight: bold;
    background-size: 200%;
    animation: text-bg-animation 5s infinite alternate;
}

.information div:nth-child(even){
    color: rgb(230, 220, 220);
    font-size: calc(1.2vh + 1.2vw);
    font-family: sans-serif;
    text-align:left;
    margin-top: calc(-0.5vh + -0.5vw);
    margin-left: calc(1vh + 1vw);
    margin-bottom: calc(0.5vh + 0.5vw);
}

.download-cv {
    border-color: rgb(230, 220, 220);
    border-radius: calc(0.5vh + 0.5vw);
    font-family: sans-serif;
/*    margin-top: calc(2.5vh + 2.5vw);*/
    padding-top: calc(0.4vh + 0.4vw);
    padding-bottom: calc(0.4vh + 0.4vw);
    padding-left: calc(1.5vh + 1.5vw);
    padding-right: calc(1.5vh + 1.5vw);
    color: rgb(230, 220, 220);
    border-width: calc(0.1vh + 0.1vw);
    border-style: solid;
    text-align: center;
    font-weight: bold;
    font-size: calc(0.8vh + 0.8vw);
    position: fixed;
      left: 22%;
      bottom: calc(2.5vh + 2.5vw);
      transform: translate(-50%, -50%);
      margin: 0 auto;
}

@keyframes text-bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

::-webkit-scrollbar {
    width: calc(0.5vh + 0.5vw);
    height: calc(0.5vh + 0.5vw);
}
::-webkit-scrollbar-track {
border: calc(0.01vh + 0.01vw) solid rgb(230, 220, 220);
border-radius: calc(0.5vh + 0.5vw);
}
::-webkit-scrollbar-thumb {
background: rgb(230, 220, 220);
border-radius: calc(0.5vh + 0.5vw);
}
::-webkit-scrollbar-thumb:hover {
background: rgb(158, 158, 158);
}
